<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BookShopping</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MainController</display-name>
    <servlet-name>MainController</servlet-name>
    <servlet-class>controller.MainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainController</servlet-name>
    <url-pattern>/MainController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBookController</display-name>
    <servlet-name>SearchBookController</servlet-name>
    <servlet-class>controller.SearchBookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBookController</servlet-name>
    <url-pattern>/SearchBookController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoggerInitializer</display-name>
    <servlet-name>LoggerInitializer</servlet-name>
    <servlet-class>log.LoggerInitializer</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoggerInitializer</servlet-name>
    <url-pattern>/LoggerInitializer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginContoller</display-name>
    <servlet-name>LoginContoller</servlet-name>
    <servlet-class>controller.LoginContoller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginContoller</servlet-name>
    <url-pattern>/LoginContoller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderPaymentController</display-name>
    <servlet-name>OrderPaymentController</servlet-name>
    <servlet-class>controller.OrderPaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderPaymentController</servlet-name>
    <url-pattern>/OrderPaymentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewController</display-name>
    <servlet-name>viewController</servlet-name>
    <servlet-class>controller.viewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewController</servlet-name>
    <url-pattern>/viewController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewController1</display-name>
    <servlet-name>viewController1</servlet-name>
    <servlet-class>controller.viewController1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewController1</servlet-name>
    <url-pattern>/viewController1</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>500</error-code>
    <location>/ErrorPages/internal.html</location>
</error-page>
<error-page>
    <error-code>404</error-code>
    <location>/ErrorPages/external.html</location>
</error-page>
</web-app>